h1 {
    margin: 15px;
    font-family: Arial, Helvetica, sans-serif;
}

table {
    border: 0.05px solid blue;
    text-align: left;
    margin: 10px;
    border-collapse: collapse;
}
table td, table th {
    padding: 10px;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
    border: solid rgb(221, 221, 221);
}

table th {
    background-color:  green;
    color: whitesmoke;
    
}
table tr:nth-child(odd) {
    background: #fff; 
} 
table tr:nth-child(even) {
    background: #D0E4F5;
}

table tr:hover { 
    background: #d7d8d6; /* Цвет фона */
}

table td:nth-child(1) {
    width: 400px;
}

table td:nth-child(2) {
    width: 250px;
}

table td:nth-child(3) {
    width: 150px;
}