/* Устанавливаем начальное значение счетчика на уровне всего документа */
body {
    counter-reset: section paragraph;
}

/* Используем первый счётчик для заголовков h2 */
h2::before {
    counter-increment: section;
    content: "Раздел " counter(section) ". ";
}

/* Применяем изменения для псевдокласса ::before элемента p */
p::before {
    counter-increment: paragraph;
    content: "Кукушка " counter(paragraph) ". ";
}


