div {
    width: 100px;
    height: 100px;
    margin: 50px;
    background: red;
    transition: width 5s, height 5s, transform 5s;
  }
  
  div:hover {
    width: 300px;
    height: 300px;
    transform: rotate(360deg);
    background-image: url(../img/kiss.png);
  }

  