/* Стили для таблицы */
.inline-table {
    /* Устанавливаем таблицу как встроенный элемент */
    display: inline-table;
        /* Добавляем границу толщиной 1 пиксель черного цвета */
    border: 1px solid black;
        /* Устанавливаем фоновый цвет таблицы (светло-желтый) */
    background-color: rgb(223, 226, 43);
}

/* Стили для заголовков (th) и ячеек (td) таблицы */
.inline-table th, .inline-table td {
    /* Добавляем границу толщиной 1 пиксель черного цвета для всех ячеек */
    border: 1px solid black;
        /* Устанавливаем отступы внутри ячеек по 5 пикселей */
    padding: 5px;
        /* Устанавливаем фоновый цвет ячеек (фиолетовый) */
    background-color: blueviolet;
}

/* Стили для списка */
.list-item {
    /* Отображаем элемент как пункт списка */
    display: list-item;
        /* Определяем маркер списка в виде квадрата */
    list-style-type: square;
        /* Сдвигаем список на 20 пикселей влево относительно родительского элемента */
    margin-left: 20px;
        /* Устанавливаем фоновый цвет для пунктов списка (бирюзовый) */
    background-color: rgb(43, 226, 226);
}