#home {
    width: 46px;
    height: 44px;
    background: url(../img/img_navsprites_hover.gif) 0 0;
}

#next {
    width: 43px;
    height: 44px;
    background: url(../img/img_navsprites_hover.gif)  -91px 0;
}

#renext {
    width: 43px;
    height: 44px;
    background: url(../img/img_navsprites_hover.gif)  -47px 0;
}

a {
    padding: 10px;
}

#home:hover {
    background: url(../img/img_navsprites_hover.gif) -0px -45px;
}

#next:hover {
    background: url(../img/img_navsprites_hover.gif) -91px -45px;
}

#renext:hover {
    background: url(../img/img_navsprites_hover.gif) -47px -45px;
}

#heart {
    width: 23px;
    height: 24px;
    background: url(../img/img_massivicons.jpg)  -53px -480px;
}

#bike {
    width: 26px;
    height: 24px;
    background: url(../img/img_massivicons.jpg)  -215px -120px;
}

#cow {
    width: 27px;
    height: 24px;
    background: url(../img/img_massivicons.jpg)  -215px -360px;
}

div h4, p {
    color: green;
    font-weight: 600;
}