/* Style the navigator bar */
.navbar {
    /* Устанавливаем ширину панели навигации на всю доступную ширину */
    width: 100%;  
    
    /* Цвет фона панели навигации */
    background-color: #555;  
    
    /* Обеспечиваем автоматическое управление элементами внутри контейнера, чтобы избежать переполнения */
    overflow: auto;  
}

/* Styles for navigation bar links */
.navbar a {
    /* Размещаем ссылки слева направо */
    float: left;  
    
    /* Выравнивание текста по центру */
    text-align: center;  
    
    /* Добавляем отступы вокруг текста ссылок */
    padding: 12px;  
    
    /* Цвет текста для ссылок */
    color: white;  
    
    /* Убираем подчеркивание у ссылок */
    text-decoration: none;  
    
    /* Размер шрифта для текста ссылок */
    font-size: 17px;  
}

/* Изменение стиля ссылок при наведении мыши */
.navbar a:hover {
    /* Меняем фоновый цвет ссылки при наведении */
    background-color: #000;  
}

/* Стили для активной ссылки */
.active {
    /* Фоновый цвет для текущей активной ссылки */
    background-color: #04AA6D;  
}

/* Добавление адаптивности для маленьких экранов */
@media screen and (max-width: 500px) {
    /* Для экранов шириной до 500 пикселей убираем плавающее размещение ссылок */
    .navbar a {
        float: none;  
        
        /* Делаем ссылки блочными элементами, чтобы они располагались вертикально */
        display: block;  
    }
}