
body {
  margin:25px; 
  padding-left: 10px;
  text-align: left;
  font-family: 'Franklin Gothic Medium',  Arial, sans-serif;
  font: 1em sans-serif;
  color: rgb(184, 22, 22);
  font-size: 24px;
}

img {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  max-width: 100%;
  height: auto;
  width: 250px;
  height: 250px;
}
  
img:hover {
  box-shadow: 0 0 3px 2px rgba(140, 4, 9, 0.702);
}

h2 {
  padding-left: 300px;
}