span {
    width: 60px; /* ignored */
    height: 60px; /* ignored */
    padding: 5px;
    margin: 5px;
    border: 2px solid black;
    background-color: darkkhaki;
    font-size: 30px;
}

span.after {
    display: inline-block;
}

img {
    border: 2px solid black;
}

