.div1 {
    border: 1px solid black;
    height: 120px;
    width: 150px;
    background-image: url(../img/flowers.gif), url(../img/fon.jpg);
    background-repeat: no-repeat;
    background-size: contain;
  }

p{
    color: rgb(121, 3, 231);
    text-align: left;
    font-size: 18px;
    padding-left: 5px;
}

.div2 {
    border: 1px solid black;
    height: 120px;
    width: 150px;
    background: url(../img/flowers.gif);
    background-repeat: no-repeat;
    background-size: cover;
}

.div3 {
    border: 1px solid black;
    height: 120px;
    width: 150px;
    background: url(../img/flowers.gif);
    background-repeat: no-repeat;
}