* {
    box-sizing: border-box; /* Устанавливает модель разбиения границ, включающую внутренние отступы и рамки в расчет общей ширины и высоты элемента */
}

header {
    margin: 20px auto; 
    width: 100%;
    height: 100px;
    padding: 1rem 0;
    background-color: rgb(196, 195, 192);
    border-radius: 10px; /* Закругленные углы */
    display: flex; /* Используем Flexbox для вертикального центрирования текста */
    justify-content: center; /* Горизонтальное центрирование */
    align-items: center; /* Вертикальное центрирование */
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
    padding: 20px;
    color: rgb(0, 0, 0);
    text-align: center;
}

body {
    background-color: rgb(153, 157, 161);
}
main {
    padding: 20px;
}

.Block {
    text-align: center;
    position: relative;
    display: inline-block;
    width: 100%;
    font-weight: bold;
    transition: transform 0.3s ease; /* Добавляем плавный переход */
}

.E, .P, .S, .B {
    border-radius: 3%; /* Добавляем закругленные углы к изображениям */
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.8); /* прибавляет эффект тени картинкам */
    width: 250px;
    padding: 5px;
    background-color: lightslategray;
    margin-left: 20px; /* или любое другое значение отступа */
    margin-bottom: 15px;
}

hr {
    border-top: 4px solid;
    height: 4px;           /* Устанавливаем высоту линии (толщину) */
}

input[type="button"] {
    font-size: 20px;       /* Увеличение размера шрифта */
    color: white;           /* Цвет текста */
    padding: 10px 20px;     /* Добавляем отступы внутри кнопки */
    border-radius: 5px;     /* Скругленные углы */
    border: none;           /* Убираем стандартную рамку */
    cursor: pointer;        /* Курсор в виде руки при наведении */
    font-weight: bold;      /* Жирный шрифт */
}

.E {
    /* Стилизация hr */
    hr {
        color: rgb(185, 60, 60); /* Цвет линии */
    }
    input[type="button"] {
        background-color: rgb(185, 60, 60);   /* Цвет фона */
    }
}

.E:hover {
    transform: scale(1.05);
}

.P {
    /* Стилизация hr */
    hr {
        color: rgb(129, 43, 129); /* Цвет линии */
    }
    input[type="button"] {
        background-color: rgb(129, 43, 129);   /* Цвет фона */
    }
}
.P:hover {
    transform: scale(1.05);
}

.S {
    /* Стилизация hr */
    hr {
        color: rgb(173, 171, 56); /* Цвет линии */
    }
    input[type="button"] {
        background-color: rgba(173, 171, 56);   /* Цвет фона */
    }
}

.S:hover {
    transform: scale(1.05);
}

.B {
    /* Стилизация hr */
    hr {
        color: rgb(45, 167, 55); /* Цвет линии */
    }
    input[type="button"] {
        background-color: rgb(45, 167, 55);  /* Цвет фона */
    }
}
.B:hover {
    transform: scale(1.05);
}

@media (max-width: 600px) {
    /* Для экранов шириной до 600 пикселей */
    
    .Block {
       max-width: 100%;
       padding: 1rem;
       margin: 1rem auto;
    }  
}

