.secret {
    position: relative;
    width: 100px;
    height: 100px;
    background-color: red;
    transform: rotate(-45deg);
    margin: 50px auto;
}

.secret::before, .secret::after {
    content: "";
    position: absolute;
    width: 100px;
    height: 100px;
    background-color: red;
    border-radius: 50%;
}

.secret::before {
    top: -50px;
    left: 0;
}

.secret::after {
    top: 0;
    left: 50px;
}

img {
    width: 300px;
    border-radius: 50%;
    transform: rotate(45deg);
}