* {
    box-sizing: border-box; /* Все элементы включают границы и отступы в свою ширину */
}

/* Настройки для блоков div */
div {
    /* Устанавливаем ширину и высоту div равными 100% от размеров родителя */
    width: 100%;
    height: 100%;
}

/* Настройки для основного раздела страницы */
.mainsection {
    width: 70%;/* Устанавливаем ширину основного раздела в 70% от ширины окна браузера */
    height: 300px;  /* Устанавливаем фиксированную высоту в 300px */
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.5); /* Добавляем тень для эффекта глубины */
    display: flex; /* Используем Flexbox для выравнивания содержимого */
    height: 80vh; /* Высота составляет 80% от высоты экрана */
    margin: 100px; /* Внешние отступы по всем сторонам */
}

/* Настройки для левой части раздела */
.left {
    width: 35%;/* Устанавливаем ширину левой части в 35% от ширины родителя */
    background-color: #48ca8d; /* Устанавливаем зеленый фон */
    display: inline-block; /* Выставляем содержимое в одну линию */
    color: #fff;  /* Цвет текста устанавливается белым */
}

/* Настройки для заголовков h2 и параграфов p */
h2, p {
    padding-left: 25px; /* Левые внутренние отступы для заголовков и параграфов */
}

/* Настройки для span */
.iconcontainer {
    border: 1px solid white;/* Добавляем белую рамку вокруг спана */
    border-radius: 50%; /* Округлость углов рамки, чтобы сделать круглую форму */
    text-align: center;
    display: block;
    padding: 5px;/* Внутренние отступы спана */
    background: no-repeat; /* Фоновая картинка без повторений, центрированная */
    background-position: center;
    margin: 10px; /* Внешние отступы спана */
}

i {
    font-size: 14px!important;/*Устанавливаем размер шрифта для иконок*/
}

/* Настройки для заголовочных ячеек таблицы */
th {
    padding: 15px 5px;/* Внутренние отступы для ячеек заголовков */
    text-align: left;  /* Выравнивание текста по левому краю */
}

/* Настройки для правой части раздела */
.right {
    display: flex;/* Используем Flexbox для выравнивания содержимого */
    width: 65%;  /* Устанавливаем ширину правой части в 65% от ширины родителя */
    background-color: white; /* Белый фон */
    display: inline-block;/* Выставляем содержимое в одну линию */
    flex-wrap: wrap;/* Если содержимое не помещается в строку, переносим его на новую строку */
    padding: 20px;/* Внутренние отступы */
}

/* Настройки для линий line */
.line {
    width: 50%; /* Устанавливаем ширину линии в 50% от ширины родителя */
    float: left; /* Располагаем элементы в одну линию слева направо */
}

/* Настройки для текстовых полей input */
input[type=text] {
    width: 30%;/* Устанавливаем ширину текстового поля в 30% от ширины родителя */
    padding-right: 20px; /* Правильные внутренние отступы для удобства ввода */
    padding-left: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: left; /* Выравнивание текста по левому краю */
    margin: 8px 0;/* Внешние отступы сверху и снизу */
    display: inline-block;/* Расположить текстовые поля в одну линию */
    border: 1px solid #ccc; /* Тонкая серая рамка вокруг поля */
    border-radius: 4px;/* Скругленные углы поля */
    box-sizing: border-box;/* Граничные отступы включены в размер поля */
}

/* Настройки для кнопок submit */
input[type=submit] {
    width: 20%;/* Устанавливаем ширину кнопки в 20% от ширины родителя */
    background-color: #48ca8d;/* фон */
    color: white; /* Цвет текста белый */
    padding: 10px; /* Внутренние отступы для удобства нажатий */
    text-align: center; /* Центрирование текста внутри кнопки */
    margin: 8px 0; /* Внешние отступы сверху и снизу */
    border: none; /* Нет рамки вокруг кнопки */
    border-radius: 4px; /* Скругленные углы кнопки */
    cursor: pointer; /* Курсор меняется на руку при наведении на кнопку */
}

/* Изменение фона кнопки при наведении */
input[type=submit]:hover {
    background-color: #179c5c; /* Темно-зеленый фон при наведении */
}

/* Специальные настройки для полей fname и email */
#fname, #email {
    width: 90%; /* Устанавливаем ширину полей в 90% от ширины родителя */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);/* Тень для визуального акцента */
}

/* Дополнительные настройки для полей subject и text */
#subject, #text {
    width: 95%; /* Устанавливаем ширину полей в 95% от ширины родителя */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);/* Тень для визуального акцента */
}

/*Дополнительные настройки для поля text */
#text {
    height: 100px;/* Устанавливаем высоту поля text в 100px */
}
