* {
    /* Все элементы включают границы и отступы в свою ширину */
    box-sizing: border-box;
}

/* Настройки для блоков div */
div {
    /* Устанавливаем ширину и высоту div равными 100% от размеров родителя */
    width: 100%;
    height: 100%;
}

/* Настройки для основного раздела страницы */
.mainsection {
    /* Устанавливаем ширину основного раздела в 70% от ширины окна браузера */
    width: 70%;
        /* Устанавливаем фиксированную высоту в 300px */
    height: 300px;
        /* Добавляем тень для эффекта глубины */
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.5);
        /* Используем Flexbox для выравнивания содержимого */
    display: flex;
        /* Высота составляет 80% от высоты экрана */
    height: 80vh;
        /* Внешние отступы по всем сторонам */
    margin: 100px;
}

/* Настройки для левой части раздела */
.left {
    /* Устанавливаем ширину левой части в 35% от ширины родителя */
    width: 35%;
        /* Устанавливаем зеленый фон */
    background-color: #48ca8d;
        /* Выставляем содержимое в одну линию */
    display: inline-block;
        /* Цвет текста устанавливается белым */
    color: #fff;
}

/* Настройки для заголовков h2 и параграфов p */
h2, p {
    /* Левые внутренние отступы для заголовков и параграфов */
    padding-left: 25px;
}

/* Настройки для span */
.iconcontainer {
    /* Добавляем белую рамку вокруг спана */
    border: 1px solid white;
        /* Округлость углов рамки, чтобы сделать круглую форму */
    border-radius: 50%;
    text-align: center;
    display: block;
        /* Внутренние отступы спана */
    padding: 5px;
        /* Фоновая картинка без повторений, центрированная */
    background: no-repeat;
    background-position: center;
        /* Внешние отступы спана */
    margin: 10px;
}

/* Настройки для заголовочных ячеек таблицы */
th {
    /* Внутренние отступы для ячеек заголовков */
    padding: 15px 5px;
        /* Выравнивание текста по левому краю */
    text-align: left;
}

/* Настройки для правой части раздела */
.right {
    /* Используем Flexbox для выравнивания содержимого */
    display: flex;
        /* Устанавливаем ширину правой части в 65% от ширины родителя */
    width: 65%;
        /* Белый фон */
    background-color: white;
        /* Выставляем содержимое в одну линию */
    display: inline-block;
        /* Если содержимое не помещается в строку, переносим его на новую строку */
    flex-wrap: wrap;
        /* Внутренние отступы */
    padding: 20px;
}

/* Настройки для линий line */
.line {
    /* Устанавливаем ширину линии в 50% от ширины родителя */
    width: 50%;
        /* Располагаем элементы в одну линию слева направо */
    float: left;
}

/* Настройки для текстовых полей input */
input[type=text] {
    /* Устанавливаем ширину текстового поля в 30% от ширины родителя */
    width: 30%;
        /* Правильные внутренние отступы для удобства ввода */
    padding-right: 20px;
    padding-left: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
        /* Выравнивание текста по левому краю */
    text-align: left;
        /* Внешние отступы сверху и снизу */
    margin: 8px 0;
        /* Расположить текстовые поля в одну линию */
    display: inline-block;
        /* Тонкая серая рамка вокруг поля */
    border: 1px solid #ccc;
        /* Скругленные углы поля */
    border-radius: 4px;
        /* Граничные отступы включены в размер поля */
    box-sizing: border-box;
}

/* Настройки для кнопок submit */
input[type=submit] {
    /* Устанавливаем ширину кнопки в 20% от ширины родителя */
    width: 20%;
        /* фон */
    background-color: #48ca8d;
        /* Цвет текста белый */
    color: white;
        /* Внутренние отступы для удобства нажатий */
    padding: 10px;
        /* Центрирование текста внутри кнопки */
    text-align: center;
        /* Внешние отступы сверху и снизу */
    margin: 8px 0;
        /* Нет рамки вокруг кнопки */
    border: none;
        /* Скругленные углы кнопки */
    border-radius: 4px;
        /* Курсор меняется на руку при наведении на кнопку */
    cursor: pointer;
}

/* Изменение фона кнопки при наведении */
input[type=submit]:hover {
    /* Темно-зеленый фон при наведении */
    background-color: #179c5c;
}

/* Специальные настройки для полей fname и email */
#fname, #email {
    /* Устанавливаем ширину полей в 90% от ширины родителя */
    width: 90%;
        /* Тень для визуального акцента */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
}

/* Дополнительные настройки для полей subject и text */
#subject, #text {
    /* Устанавливаем ширину полей в 95% от ширины родителя */
    width: 95%;
        /* Тень для визуального акцента */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
}

/* Дополнительные настройки для поля text */
#text {
    /* Устанавливаем высоту поля text в 100px */
    height: 100px;
}
