/* Применяется ко всем элементам на странице */
* {
    box-sizing: border-box; /* Устанавливает модель разбиения границ, включающую внутренние отступы и рамки в расчет общей ширины и высоты элемента */
}

/* Стилизуем заголовок сайта */
header {
    background-color: #292952; /* Устанавливаем фоновый цвет */
    padding: 5px; /* Добавляем внутреннюю область заполнения (padding) сверху и снизу */
    text-align: center; /* Центрируем текст заголовка */
}

/* Контейнер для галереи */
.gallery-container {
    display: flex; /* Преобразует контейнер в flex-контейнер, позволяющий легко управлять размещением дочерних элементов */
    width: 100%; /* Делаем ширину контейнера равной 100% ширины родителя */
    flex-wrap: wrap; /* Разрешается перенос элементов на следующую строку, если они не помещаются в одну строку */
    justify-content: center; /* Центрируем элементы по горизонтали */
}

/* Контейнер для изображений */
.images {
    display: flex; /* Преобразуем в flex-контейнер */
    flex-wrap: wrap; /* Разрешаем перенос изображений на следующую строку */
    justify-content: space-between; /* Располагаем изображения равномерно с промежутками между ними */
    align-items: center; /* Выравниваем изображения по вертикали */
}

/* Стили для изображений */
.images img {
    border-radius: 3%; /* Добавляем закругленные углы к изображениям */
    max-width: 250px; /* Ограничиваем максимальную ширину изображений */
    height: auto; /* Высота автоматически регулируется, чтобы сохранить пропорции изображения */
    cursor: pointer; /* Меняем форму курсора на указатель при наведении на изображение */
    margin-right: 5px; /* Добавляем отступ справа между изображениями */
    margin-bottom: 5px;
}

/* Стилизуем нижний колонтитул (footer) */
footer {
    background-color: #292952; /* Устанавливаем  фоновый цвет */
    text-align: center; /* Центрируем текст в футере */
    padding: 10px; /* Добавляем внутреннюю область заполнения (padding) сверху и снизу */
    margin-top: 7px; /* Добавляем небольшой отступ сверху */
}

/* Медиазапросы для адаптации к мобильным устройствам */
@media only screen and (max-width: 800px) {
    /* Для экранов шириной до 800 пикселей */
    
    /* Ограничиваем максимальную ширину всех изображений до 150 пикселей */
    .images img {
        max-width: 150px;
    }   
}