/*#borderimg {
    border: 10px solid transparent;
    padding: 15px;
    border-image: url(../img/border.png) 30 round; 
}*/ /*30 пикселей изображения будут использованы в качестве границы.*/

/*#borderimg {
    border: 10px solid transparent;
    padding: 15px;
    border-image: url(../img/border.png) 30 stretch; 
}*/ /*Растягивает избражение на всю ширину*/

#borderimg {
    border: 10px solid transparent;
    padding: 15px;
    border-image: url(../img/border.png) 50 repeat; /*Растягивает избражение на всю ширину*/
}