/* Стили для класса example */
.example {
    /* Явно задаём элемент как блочный */
    display: block;
        /* Задание светло-голубого фонового цвета */
    background-color: lightblue;
        /* Внутренние отступы элемента размером 10 пикселей */
    padding: 10px;
        /* Внешний отступ снизу элемента размером 10 пикселей */
    margin-bottom: 10px;
}

/* Стили для класса reset */
.reset {
    /* Возвращаемся к исходному поведению элемента */
    display: initial;
        /* Задание светло-розового фонового цвета */
    background-color: lightcoral;
        /* Внутренние отступы элемента размером 1 пиксель */
    padding: 1px;
}

/* Стили для класса parent */
.parent {
    /* Использование гибкого макета для выравнивания дочерних элементов */
    display: flex;
        /* Создание промежутка между дочерними элементами размером 10 пикселей */
    gap: 10px;
        /* Внутренние отступы элемента размером 10 пикселей */
    padding: 10px;
        /* Задание светло-серого фонового цвета */
    background-color: lightgray;
}

/* Стили для класса child */
.child {
    /* Наследование значения свойства display от родительского элемента */
    display: inherit;
        /* Задание светло-розового фонового цвета */
    background-color: lightcoral;
        /* Внутренние отступы элемента размером 10 пикселей */
    padding: 10px;
}