body {
    font-family: "Open Sans", sans-serif;
    background: linear-gradient(to bottom,  #f7d3b5, #dd7a5c); /* задаём линейный градиент от светло-коричневого к тёмному */
    margin: 0; /* убираем внешние отступы со всех сторон */
    display: flex; /* делаем тело страницы гибким контейнером */
    flex-direction: column;  /* Определяем направление осей flex-контейнера вертикально (как столбец) */
    min-height: 100vh; /* Минимальная высота контейнера устанавливается равной высоте видимой области экрана (viewport height) */
    overflow-x: hidden;/* Скрываем горизонтальную прокрутку, если содержимое выходит за пределы контейнера */
    width: 100%;/* Устанавливаем ширину контейнера равной 100% от ширины родительского элемента */
}

header {
    display: flex; /* Используем Flexbox для выравнивания элементов */
    flex-direction: row; /*Элементы внутри Flexbox-контейнера будут располагаться горизонтально, в одну строку, слева направо*/
    align-items: center; /* Центрирование элементов по вертикали */
    padding: 10px 20px; /* Добавляем внутренние отступы: сверху/снизу 10 пикселей, слева/справа 20 пикселей */
    top: 0; /* Прикрепляем заголовок к верхнему краю экрана */
    text-align: center; /* Выравнивание текста по центру */
    background: linear-gradient(to right, red, orange, yellow, green, cyan, blue, violet); /* Градиентная заливка фона от красного до фиолетового */
}

h1 {    
    color: white;
    font-size: 40px; /* Размер шрифта */
    line-height: 40px; /* Высота строки для равномерного распределения текста */
    width: 100%;
}


.dropdown {
    position: relative; /*Положение относительно родителя*/
    display: inline-block; /*Отображение встроенного блока, позволяющего размещать выпадающую кнопку и содержимое в строке*/
}

.dropbtn {
    width: 110%;
    background-color: #e18669; /*Цвет фона */
    color: white; /* Цвет те#6cd166кста */
    padding: 16px; /* добавить отступ */
    font-size: 16px; /* размер шрифта */
    border: none; /*удаление границы*/
    border-radius: 5px;
    cursor: pointer; /*Изменение курсора на указатель при наведении*/
}

.dropdown-content {
    display: none; /* Скрыть содержимое раскрывающегося списка по умолчанию */
    position: absolute; /* Абсолютно разместить внутри контейнера раскрывающегося списка */
    background-color: #f0cccc; /* Цвет фона */
    min-width: 110%; /* минимальная ширина */
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2); /* добавление тени для глубины */
    z-index: 1; /* Обеспечить, чтобы содержимое раскрывающегося списка находилось выше других элементов*/
    font-weight: bold; 
    border-radius: 5px;
}

.dropdown-content a {
    color: black; /* цвет текста*/
    padding: 5px 5px; /* Add padding */
    text-decoration: none; /* Удалить подчеркивание из ссылок */
    display: block; /* Отображение блока, чтобы ссылки занимали всю ширину */
    text-align: center;
}
.dropdown-content a:hover {
    background-color: #f1f1f1; /* Установить цвет фона при наведении */
}

.dropdown:hover .dropdown-content {
    display: block; /*  Отобразить содержимое раскрывающегося списка*/
}

.Green {
    color: green; /* цвет текста*/
}

.Yellow {
    color: yellow; /* цвет текста*/
}

.Red {
    color: red; /* цвет текста*/
}



/* Область секции */
section {
    padding: 20px; /* Внутренние отступы внутри секции */
    text-align: center; /* Выравнивание текста по центру */
    width: 100%;
    flex: 1;
}

/* Контейнер для изображений */
.image-container {
    display: inline-block; /* Элемент отображается как строчный блок, но сохраняет некоторые свойства блочного элемента */
    width: 100%; /* Ширина контейнера занимает всю доступную ширину родительского элемента */
    padding-right: 20px; /* Внутренний отступ справа от содержимого контейнера */
}

/* Стили для изображений */
.image {
    width: 300px; /* Устанавливаем фиксированную ширину изображения */
    height: 300px; /* Устанавливаем фиксированную высоту изображения */
    margin-right: 10px; /* Внешний отступ справа от изображения (создает пространство между элементами) */
    border-radius: 3%; /* Закругление углов изображения на 3% от ширины/высоты */
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5); /* Тень вокруг изображения: смещение 2px вправо и 2px вниз, размытие 5px, черный цвет с прозрачностью 50% */
}

p {
    padding-left: 10px;
    padding-right: 20px;
}

/* Нижний колонтитул (footer) */
footer {
    display: flex; /* Использование Flexbox для гибкого расположения дочерних элементов */
    text-align: left; /* Выравнивание текста по левому краю */
    color: white; /* Цвет текста — белый */
    margin: 0px;
    background: linear-gradient(to right, red, orange, yellow, green, cyan, blue, violet); /* Градиентная заливка фона от красного до фиолетового цвета */
    position: relative; /* Позиционирование футера абсолютно относительно ближайшего родителя с позицией relative */
    bottom: 0; /* Футер фиксируется внизу страницы */
    width: 100%; /* Ширина футера равна ширине окна браузера */
    height: 150px; /*Высота футера 300 пикселей*/
    align-items: center; /* центрирование элементов по вертикали*/
}

table {
    border-spacing: 5px;       /* Расстояние между ячейками */
    justify-content: space-between;
    padding-left: 10px 10px;
    width: 60%;
    text-align: right;        /* Выравнивание содержимого по центру */
    padding: 50px;
}

td {
    text-align: left;        /* Выравнивание содержимого по центру */
    color: #fff;                /* Цвет текста */
}

td a:hover:not(.active) { 
    color: #f70505; /* Изменяем цвет ссылки на красный (#f70505) при наведении */
}
   

/* Ссылки внутри пунктов таблицы */
td a {
    color: #ffffff; /* Цвет ссылок — белый */
    text-decoration: none; /* Убираем подчеркивание у ссылок */
}

