/* Стилизация контейнера таблицы */
.table-container {
    /* Отображение элемента как таблица */
    display: table;
        /* Установка ширины контейнера на всю доступную ширину родителя */
    width: 100%;
        /* Черная рамка шириной 2 пикселя вокруг всей таблицы */
    border: 2px solid black;
}

/* Стилизация заголовка таблицы */
.caption {
    /* Отображение элемента как заголовок таблицы */
    display: table-caption;
        /* Позиционирование заголовка над таблицей */
    caption-side: top; /* Можно использовать значение 'bottom', чтобы разместить заголовок внизу */
        /* Центровка текста заголовка */
    text-align: center;
        /* Размер шрифта заголовка */
    font-size: 20px;
        /* Жирное начертание текста заголовка */
    font-weight: bold;
        /* Внутренние отступы заголовка */
    padding: 10px;
        /* Светло-серый фон заголовка */
    background-color: lightgray;
}

/* Стилизация строк таблицы */
.row {
    /* Отображение элемента как строка таблицы */
    display: table-row;
}

/* Стилизация ячеек таблицы */
.cell {
    /* Отображение элемента как ячейка таблицы */
    display: table-cell;
        /* Черная рамка шириной 1 пиксель вокруг каждой ячейки */
    border: 1px solid black;
        /* Внутренние отступы ячеек */
    padding: 10px;
        /* Центровка содержимого ячеек */
    text-align: center;
}