/* Стилизация общего контейнера div */
div {
    /* Скругление углов контейнера */
    border-radius: 5px;
        /* Фоновый цвет контейнера */
    background-color: #f2f2f2;
        /* Внутренние отступы контейнера */
    padding: 20px;
}

/* Стилизация полей ввода типа text и выпадающих списков select */
input[type=text], select {
    /* Ширина полей равна ширине родительского контейнера */
    width: 100%;
        /* Внешние отступы внутри полей ввода */
    padding: 12px 20px;
        /* Внешний отступ сверху и снизу между элементами */
    margin: 8px 0;
        /* Поля отображаются как блочные элементы, выровненные в одну строку */
    display: inline-block;
        /* Тонкая граница серого цвета */
    border: 1px solid #ccc;
        /* Скругленные углы полей ввода */
    border-radius: 4px;
        /* Включает внутренние отступы и границы в общую ширину элемента */
    box-sizing: border-box;
}

/* Стилизация кнопки отправки */
input[type=submit] {
    /* Ширина кнопки равна ширине родительского контейнера */
    width: 100%;
        /* Цвет фона кнопки */
    background-color: #4caf50;
        /* Цвет текста на кнопке */
    color: white;
        /* Внутренние отступы кнопки */
    padding: 14px 20px;
        /* Внешний отступ сверху и снизу между элементами */
    margin: 8px 0;
        /* Отсутствие рамки вокруг кнопки */
    border: none;
        /* Скругленные углы кнопки */
    border-radius: 4px;
        /* Указатель мыши меняет вид на руку при наведении на кнопку */
    cursor: pointer;
}

/* Изменение стиля кнопки при наведении */
input[type=submit]:hover {
    /* Темнее оттенок зеленого фона при наведении */
    background-color: #45a049;
}