#main-heading {
    font-size: 2.5em;
    color: darkblue;
    text-align: left;
}

/*Стилизация абзаца с помощью id="first-paragraph"*/
#first-paragraph {
    font-family: Arial, sans-serif;
    color: gray;
    margin: 10px;
    line-height: 1.6;
}

/*Добавление стиля к кнопке с id="click-me"*/
#click-me {
    background-color: green;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
    border-radius: 10px;
    display: block; /*Превращаем кнопку в блочный элемент*/
    margin: 0 auto; /* центрируем кнопку*/
}

#click-me:hover {
    background-color: darkgreen;
}

#ramka {
    width: 35%;
    border: thin darkred solid;
    padding: 10px;
    border-radius: 10px;
}