/* Стили для таблицы */
.table {
    /* Отображение элемента как таблица */
    display: table;
        /* Устанавливаем ширину таблицы равной 100% от ширины родительского элемента */
    width: 100%;
        /* Добавляем сплошную черную границу толщиной 1 пиксель вокруг всей таблицы */
    border: 1px solid black;
}

/* Стили для строк таблицы */
.row {
    /* Отображение элемента как строка таблицы */
    display: table-row;
}

/* Стили для ячеек таблицы */
.cell {
    /* Отображение элемента как ячейка таблицы */
    display: table-cell;
        /* Добавляем сплошную черную границу толщиной 1 пиксель вокруг каждой ячейки */
    border: 1px solid black;
        /* Устанавливаем внутренние отступы ячеек равными 10 пикселям */
    padding: 10px;
}