p:first-child {
    color: pink;
}

/*найти все элементы первого ребёнка h4*/
h4:first-child i {
    color: blue;
}

p i:first-child {
    color: green;
}

q:lang(no) {
    quotes: "+""+";
}

/*при выборе поля формы окрасить его в цвет сливы*/
input:focus {
    background-color: plum;
}