/* Обнуление внутренних отступов и внешних полей */
* {
    padding: 0;
    margin: 0;
}

/* Настройка фона страницы: градиент поверх изображения фона */
body {
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), 
    url(../img/fon.jpg) no-repeat center center/cover; /* Градиент от черного прозрачного цвета сверху-вниз накладывается на фоновое изображение */
    font-family: Arial, sans-serif;  /* Шрифт по умолчанию для текста */
}

/* Контейнер для централизации содержимого */
.container {
    display: flex; /* Гибкая сетка для центрирования элементов по горизонтали и вертикали */
    justify-content: center;
    align-items: center;
    height: 100vh; /* Высота контейнера равна высоте окна браузера */
}

/* Стили ссылок */
a {
    font-size: 1.5rem; /* Размер шрифта ссылки */
    padding: 1rem 3rem;/* Внутренний отступ вокруг текста ссылки */
    color: #f4f4f4;/* Цвет текста */
    text-transform: uppercase;  /* Преобразование текста в верхний регистр */
}

/* Кнопка (класс btn применяется к ссылке a) */
.btn {
    text-decoration: none; /* Убираем подчеркивание у ссылки */
    border: 1px solid rgb(146, 148, 248); /* Рамка кнопки */
    position: relative; /* Позиционирование псевдоэлемента относительно элемента */
    overflow: hidden; /* Скрываем лишнее содержимое за пределами рамки */
}

/* Эффект тени при наведении мыши */
.btn:hover {
    box-shadow: 1px 1px 25px 10px rgba(146, 148, 248, 0.4); /* Добавляем размытую тень */
}

/* Псевдоэлемент перед кнопкой (создает анимационный эффект) */
.btn:before {
    content: ""; /* Создаем пустой контент */
    position: absolute; /* Абсолютное позиционирование внутри родительского блока */
    top: 0; /* Начальное положение слева вне видимой области */
    left: -100%;
    width: 100%; /* Ширина и высота занимают всю область кнопки */
    height: 100%;
    background: linear-gradient(120deg, transparent, rgba(146, 148, 248, 0.4), transparent); /* Фоновый градиент с прозрачностью, создающий эффект перелива */
    transition: all 650ms; /* Переход плавно меняет состояние при анимации */
}

/* Анимация перехода псевдоэлемента при наведении мыши */
.btn:hover:before {
    left: 100%; /* Перемещаем элемент вправо за пределы видимости */
}