#img1 {
  clip-path: circle(50%);
}

#img2 {
  clip-path: circle(40%);
}

#img3 {
  clip-path: circle(60%);
}
body {
  background-color: teal;
  font-family: Arial, sans-serif;
  text-align: center;
  padding: 20px;
}

#img4 {
  clip-path: circle(50% at right);
}

div {
  float: left;
}

#img5 {
  clip-path: ellipse(50% 40%);
}

#img6 {
  clip-path: ellipse(40% 60%);
  float: left;
}

#img7 {
  clip-path: ellipse(60% 30%);
}