body {
    margin: 0;
    padding: 0;
    background: #f4f4f4;
    box-sizing: border-box;
}
header {
    background: #031e80;
    color: #fff;
    padding: 1rem 0;
    
}
header h1 {
    margin: 0;
    text-align: center;
}

main {
    font-family: 'Open Sans', sans-serif;
    margin: 15 100 15 100px;
    padding: 20px;
    background-color: #f5f5f5;
    color: #333;
}

.logo img {
    display: flex;
    align-items: center; 
    height: 50px;
    border-radius: 50%;
    float: left;
    margin-bottom: 20px;
}

.author {
    margin-left: 10px;
    align-items: center; 
}

section {
    padding: 2rem;
    margin: 2rem auto;
    background: #fff;
    max-width: 800px;
    border-radius: 10px; /*округление блока*/
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
}

section h2 {
    color: #031e80;
}

section#post p {
    margin: 1rem 0;
}

footer {
    background: #031e80;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
    position: relative; /* нижний блок не закреплён к странице, а при fiхed он прикреплён к нижней части границы всей страницы*/
    width: 100%;
    bottom: 0;
}

footer p {
    margin: 0;
}

/*responsive design*/
@media (max-widht: 768px) {
    header {
        flex-direction: column;
        text-align: center;
    }
    .logo {
        margin-bottom: 10px;
    }
}
@import url('https://fonts.googltapis.com/css2?family=Open+Sans:wght@400;600&display=swap');