body {
    margin: 0;
    padding: 0;
    background: #f4f4f4;
    box-sizing: border-box;
}
header {
    background: #031e80;
    color: #fff;
    padding: 1rem 0;
    
}
header h1 {
    margin: 0;
    text-align: center;
}

main {
    font-family: 'Open Sans', sans-serif;
    margin: 15 100 15 100px;
    padding: 20px;
    background-color: #f5f5f5;
    color: #333;
}

article {
    padding: 2rem;
    margin: 2rem auto;
    background: #fff;
    max-width: 800px;
    border-radius: 10px; /*округление блока*/
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
}

article h2 {
    color: #031e80;
}

article#post p {
    margin: 1rem 0;
}

.blog-meta { /*Стиль метаданных блога*/
    display: flex; /*Использование макета fiexbox */
    align-items: center; /* выравнивание элементов по вертикали */
    margin-bottom: 20px; /* добавление нижнего поля */
}

.logotip {
    width: 50px; /*установка ширины*/
    height: 50px; /*установка высоты*/
    border-radius: 50%; /*делаем его круглым*/
    margin-right: 10px;/*добавление правого поля*/
}

/* Стили абзацев метаданных блога */
.blog-meta p {
    margin: 0 10px; /* Установка горизонтального поля */
    color: #777; /* Установка цвета текста */
}

/* Стили абзацев контента блога */
.blog-content p {
    line-height: 1.6; /* Установка высоты строки */
}

footer {
    background: #031e80;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
    position: relative; /* нижний блок не закреплён к странице, а при fiхed он прикреплён к нижней части границы всей страницы*/
    width: 100%;
    bottom: 0;
}

footer p {
    margin: 0;
}

/*responsive design Адаптивный дизайн*/
@media (max-widht: 768px) {
    header {
        flex-direction: column;
        text-align: center;
    }
    .logo {
        margin-bottom: 10px;
    }
}
@import url('https://fonts.googltapis.com/css2?family=Open+Sans:wght@400;600&display=swap');