body {
    background: #b6b5b5;
    margin: 0; 
    display: flex; 
    flex-direction: column; 
}

.header {
    background: #f4f4f4;
    color: #000000;
    padding: 1rem 0;
    width: 100%;
    margin: 0 10px 0 10px;
}

.header h1, p {
    margin: 0;
    text-align: center;
    background: #f4f4f4;
}

.topnav {
    width: 100%;
    background-color: #272727;
    overflow: auto;
    margin: 0 10px 0 10px;
}

.topnav a {
    float: left;
    text-align: center;
    padding: 12px;
    color: #f8f5f5;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: #a8a7a7;
    color: #050505;
}

.row{
    width: 100%;
    margin: 10px;
}

.leftcolumn {
    width: 68%;
    float: left;
    background-color: #c2bcbc;
}

.card {
    background: #eef0f0;
    margin:  10px;
}

.fakeimg {
    background-color: #a8a7a7;
    margin: 10px;
    padding: 10px;
}

.card h2, h3, h5, p {
    text-align: left;
    padding: 10px;
}

.rightcolumn {
    width: 30%;
    float: right;
    background-color: #c2bcbc;
}

.footer {
    display: flex; 
    color: #000; 
    margin: 0px;
    background: #e5e8e9;
    margin: 0 10px;
    width: 100%; 
    height: 100px;
    align-items: center; 
    justify-content: space-around; 
}