@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap');

* /* Универсальное применение модели box-sizing ко всем элементам для учета границ и отступов внутри ширины и высоты элемента */
* {
    box-sizing: border-box; /* Добавляем модель border-box ко всем элементам */
}

/* Стили для основного контейнера body */
body {
    font-family: "Crimson Text", serif; /* Шрифт текста на странице */
    font-weight: 400; /* Стандартная толщина шрифта */
    font-style: normal; /* Обычный шрифт без курсива */
    padding: 10px; /* Внутренние отступы по краям тела страницы */
    background: #24587A; /* Фоновый цвет всего документа */
}

/* Стилизация заголовка */
.header {
    padding: 30px; /* Отступы вокруг содержимого заголовка */
    text-align: center; /* Выравнивание текста по центру */
    background-image: url('../img/nebobir.jpg');  /* Цвет фона заголовка */
}

/* Заголовок первого уровня в секции header */
.header h1 {
    font-size: 50px; /* Размер шрифта заголовка */
    color: #06266f; /* Цвет текста заголовка */
}

.header p {
    color: #06266f;
}

/* Навигационное меню */
.topnav {
    overflow: hidden; /* Скрываем любые элементы, выходящие за пределы блока */
    background-color: #a1b1cb; /* Цвет фона навигационного меню */
}

/* Ссылки в навигационном меню */
.topnav a {
    float: left; /* Выстраиваем ссылки слева направо */
    display: block; /* Делаем ссылку блочным элементом */
    color: #06266F; /* Цвет текста ссылок */
    text-align: center; /* Выравнивание текста по центру */
    padding: 14px 16px; /* Внутренние отступы для ссылок */
    text-decoration: none; /* Убираем подчеркивание у ссылок */
}

/* Поведение ссылок при наведении мышью */
.topnav a:hover {
    background-color: #FF7400; /* Меняем фоновый цвет ссылки при наведении */
    color: black; /* Изменяем цвет текста на черный при наведении */
}

/* Очистка плавающих элементов после столбцов */
.row::after {
    content: ""; /* Нет содержания */
    display: table; /* Используем таблицу для очистки потока */
    clear: both; /* Очищаем оба плавающих элемента */
}

/* Левая колонка контента */
.leftcolumn {
    float: left; /* Располагаем левую колонку слева */
    width: 75%; /* Ширина левой колонки составляет 75% от родителя */
    color: whitesmoke;
}

.rightcolumn {
    float: left; /* Расположение колонки слева относительно родителя */
    width: 25%; /* Ширина колонки составляет 25% от ширины родительского элемента */
    background-color: #24587A; /* Заданный синий цвет фона для колонки */
    padding-left: 20px; /* Внутренний отступ слева, чтобы отделить содержимое от границы */
    color: #FFF; /* цвет текста внутри колонки */
}

/* Карточка с контентом */
.card {
    background-color: #06266F; /* Цвет фона карточки */
    padding: 20px; /* Внутренний отступ вокруг содержимого карточки */
    margin-top: 20px; /* Внешний отступ сверху для разделения карточек */
}

/* Изображение с фоном */
.fakeimg {
    background-color: #FF7400; /* Цвет фона изображения */
    width: 100%; /* Ширина изображения равна ширине родительского элемента */
    padding: 20px; /* Внутренний отступ изображения */
}

/* Подвал сайта */
.footer {
    padding: 20px; /* Внутренние отступы подвала */
    text-align: center; /* Центрирование текста в подвале */
    background-image: url('../img/more.jpg'); /* Цвет фона подвала */
    margin-top: 20px; /* Внешний отступ сверху для отделения от основного контента */
}

.footer h2 {
    color: #06266f;
}

/* Медиа-запросы для адаптивности */
@media screen and (max-width: 800px) {
    .leftcolumn,
    .rightcolumn { /* Применяется для обеих колонок */
        width: 100%; /* Колонки занимают всю ширину экрана */
        padding: 0; /* Убираются внутренние отступы */
    }
}

@media screen and (max-width: 400px) {
    .topnav a {
        float: none; /* Убираем float для адаптации под мобильные устройства */
        width: 100%; /* Элементы навигации занимают всю ширину */
    }
}