#rcorners1 {
    border-radius: 15px 50px 30px 5px;
    background: #73AD21;
    padding: 20px; 
    width: 200px;
    height: 150px; 
}
 
#rcorners3 {
    border-radius: 15px 50px;
    background: #ad21ad;
    padding: 20px; 
    width: 200px;
    height: 150px; 
}

#rcorners2 {
    border-radius: 15px 50px 30px;
    background: #2321ad;
    padding: 20px; 
    width: 200px;
    height: 150px; 
}

#rcorners4 {
    border-radius: 50px / 15px;
    background: #ad9f21;
    padding: 20px; 
    width: 200px;
    height: 150px; 
}

#rcorners5 {
    border-radius: 15px / 50px;
    background: #ad2138;
    padding: 20px; 
    width: 200px;
    height: 150px; 
}

#rcorners6 {
    border-radius: 50%;
    background: #65ad21;
    padding: 20px; 
    width: 200px;
    height: 150px; 
}