@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');
* {
    box-sizing: border-box; /* Добавляем модель border-box ко всем элементам */
}

body {
    background: #ab58dbb2;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

div {
    display: inline-flex;
    font-family: "Libre Baskerville", serif;
    font-weight: 400;
    font-style: normal;
    background-color: #f9f9f9;
    width: 70%;
    margin: auto;
}

img {
    float: left;
    width: 30%;
    height: 30%;
    margin: 100px;
}

img:hover{
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}
form {
    /* Используем Flexbox для размещения элементов внутри формы */
    display: flex;
    /* Элементы располагаются сверху вниз (по столбцу) */
    flex-direction: column;
    /* Добавляет расстояние между каждым элементом формы */
    gap: 16px;
    align-items: center;
}

.forms {
    float: left;
    width: 50%;
    height: 500px;
    padding: 20px 100px;
}


input[type=text] {
    width: 100%;
    padding: 12px 30px;
    margin: 8px 0;
    display:inline-block;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-sizing: border-box;
}

.wrap-input100 {
    position: relative;
    width: 100%;
    z-index: 1;
    margin-bottom: 10px;
}

.symbol-input100 {
    display: flex;
    align-items: center;
    position: absolute;
    border-radius: 25 px;
    bottom: 2px;
    left: 5px;
    width: 100%;
    height: 100%;
    padding-left: 5px;
    pointer-events: none;
    color: #aaaaaa;
    font-size: 15px;
}




.text {
    height: 200px;
    width: 100%;
}


input[type=submit] {
    width: 70%;
    background-color: #856add;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 25px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #ab58dbb2;
}