#example1 {
    background-image: url(../img/flower1.gif), url(../img/waves.jpg);
    background-position: right bottom, left top;
    background-repeat: no-repeat, repeat;
    padding: 15px;
  }